services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wallet-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - wallet-network
    depends_on:
      - database
    restart: always
    environment:
      JAVA_OPTS: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=80.0 -Xms1g -Xmx1.5g -XX:+UseG1GC"
    command: ["sh", "-c", "java $JAVA_OPTS -jar wallet.jar"]
    mem_limit: 2g
    cpus: 4.0

  database:
    image: postgres
    ports:
      - "5001:5432"
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    command: ["postgres", "-c", "max_connections=200"]
    volumes:
      - postgres-wallet:/var/lib/postgresql/data
    env_file:
      - ./.env
    networks:
      - wallet-network



volumes:
  postgres-wallet:
    name: postgres-wallet
networks:
  wallet-network:
    name: wallet-network


