services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wallet-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - wallet-network
    depends_on:
      - database
    restart: always
    environment:
      JAVA_OPTS: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=80.0 -Xms1g -Xmx1.5g -XX:+UseG1GC -XX:ActiveProcessorCount=4 -XX:+AlwaysPreTouch -Djava.security.egd=file:/dev/./urandom"

    command: ["sh", "-c", "java $JAVA_OPTS -jar wallet.jar"]
    mem_limit: 2g
    cpus: 4.0

  database:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    command: [ "postgres", "-c", "max_connections=100", "-c", "shared_buffers=512MB", "-c", "work_mem=16MB", "-c", "max_wal_size=1GB", "-c", "checkpoint_timeout=10min" ]
    volumes:
      - postgres-wallet:/var/lib/postgresql/data
    env_file:
      - ./.env
    networks:
      - wallet-network



volumes:
  postgres-wallet:
    name: postgres-wallet
networks:
  wallet-network:
    name: wallet-network


